* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 20px;
  background: #ffe2b0;
}

.container {
  /* padding: 20px 0 0; */
  margin: 0 auto;
  max-width: 1440px;
}

a {
  display: inline-block;
  font-size: 0;
  color: inherit;
  text-decoration: none;
}

header {
  margin-bottom: 20px;
  text-align: center;
}

nav {
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.header__item {
  display: inline-block;
}

.header__item:not(:last-child) {
  margin-right: 100px;
}

.nav-link {
  font-size: 18px;
  text-transform: uppercase;
}

.section-about {
  margin-bottom: 20px;
  min-height: 640px;
  background: url('../img/bg_fon.jpg') center/cover no-repeat;
}

.container-about {
  padding: 349px 0 0 730px;
  height: 100%;
}

.section-about__block {
  padding: 15px;
  max-width: 420px;
  min-height: 190px;
  background: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(234, 156, 65, 0.8) 100%);
}

.section-about__text {
  padding: 17px 28px;
  border: 1px solid #000;
}

.section-about__text_title {
  margin: 0 0 9px 0;
  font-size: 36px;
}

.section-about__text_descr {
  margin: 0;
  font-size: 12px;
}

.section-brands {
  margin-bottom: 20px;
}

.container-brands {
  text-align: center;
}

.section-brands__list {
  margin-bottom: 20px;
}

.section-brands__item {
  display: inline-block;
}

.section-brands__item:not(:last-child) {
  margin-right: 76px;
}

.section-brands__image {
  width: 290px;
  height: 290px;
}

.section-brands__title {
  margin: 0 0 20px;
  font-size: 96px;
}

.section-brands__descr {
  margin: 0 auto;
  max-width: 890px;
  font-size: 18px;
}

.section-brands__word {
  color: #f15b40;
}

.section-map {
  margin-bottom: 20px;
}

.section-map__title {
  margin: 0 0 20px;
  font-size: 36px;
  text-align: center;
}

.map {
  outline: none;
  text-align: center;
}

.line {
  margin: 0 auto 20px;
  width: 1024px;
  height: 1px;
  background: #999;
}